.header {
    height: 30px;
    background-color: #ffffff;
    line-height: 30px;
}
.header .header-con {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.header .header-con .login-button {
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/login.png) no-repeat center left;
    background-size: 15px;
    padding-right: 20px;
}
.header .header-con .shopping-cart-button {
    position: relative;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/shopping-cart.png) no-repeat center left;
    background-size: 15px;
    padding-right: 20px;
}
.header .header-con .shopping-cart-button em {
    position: absolute;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}
.header .header-con .pc-button {
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    background: url(../icon/pc.png) no-repeat center left;
    background-size: 15px;
}
.header .nowTime {
    margin-left: 20px;
}
.nav {
    height: 45px;
    background-color: #b1181a;
}
.nav .nav-con {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.nav .nav-con a {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}
.nav .nav-con .nav-on {
    color: orangered;
}
.goods1 {
    width: 1000px;
    margin: 50px auto;
}
.goods1 h1 {
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
}
.goods1 .goods-list {
    width: 100%;
    margin-top: 20px;
}
.goods1 .goods-list .list {
    float: left;
    width: 238px;
    padding-right: 16px;
    padding-bottom: 20px;
    border-right: 1px dashed #999;
    border-bottom: 1px dashed #999;
}
.goods1 .goods-list .list:nth-child(1) {
    width: 476px;
}
.goods1 .goods-list .list:nth-child(2n+3) {
    padding-right: 0;
    border-right: 0;
}
.goods1 .goods-list .list img {
    float: left;
    width: 100%;
    height: 228px;
}
.goods1 .goods-list .list:nth-child(1) img {
    height: 476px;
}
.goods1 .goods-list .list a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float: left;
    width: 96%;
    height: 35px;
    padding: 0 2%;
    text-align: center;
    line-height: 35px;
}
.goods1 .goods-list .list:nth-child(1) a {
    height: 70px;
    line-height: 70px;
}
.goods2 {
    width: 1000px;
    margin: 50px auto;
}
.goods2 h1 {
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
}
.goods2 .goods-list {
    width: 100%;
    margin-top: 20px;
}
.goods2 .goods-list .list {
    float: left;
    width: 233px;
    padding: 0 8px;
    border-right: 1px dashed #999;
    border-bottom: 1px dashed #999;
}
.goods2 .goods-list .list:nth-child(4n+4) {
    border-right: 0;
}
.goods2 .goods-list .list img {
    float: left;
    width: 100%;
    height: 133px;
}
.goods2 .goods-list .list a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    float: left;
    width: 96%;
    height: 35px;
    padding: 0 2%;
    text-align: center;
    line-height: 35px;
}
.copyright {
    height: 45px;
    margin-bottom: 50px;
    color: #999;
    text-align: center;
    line-height: 45px;
}